@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/*##################################### Default Styles #####################################*/

html,
body {
  height: 100%;
  background-color: #333;
  font-family: "Montserrat", sans-serif !important;
  color: #fff;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  margin-bottom: 0px;
}

/*##################################### Decoration Blocks #####################################*/
.decor-block__top-line {
  top: 0px;
  left: 70%;
  width: 150px;
  height: 34.46px;
  position: absolute;
  transform: skew(38deg) rotate(90deg);
  border: 2px solid #ffffff;
  z-index: 1;
}

.decor-block__top-orange {
  top: 0px;
  left: 70%;
  width: 200px;
  height: 40px;
  position: absolute;
  transform: skew(38deg) rotate(90deg);
  background: #f7931e;
}

.decor-block__left-orange {
  z-index: 1;
  background-color: #f7931e;
  top: 55%;
  left: 0;
  width: 340px;
  height: 52px;
  max-width: 38vh;
}
.decor-block__left-black {
  background-color: rgba(12, 20, 23, 0.8);
  top: 60%;
  left: 0;
  width: 100vh;
  height: 110px;
}
.decor-block__left-line {
  border: 2px solid #ffffff;
  top: 71%;
  left: 0;
  width: 270px;
  height: 47px;
  max-width: 30vh;
}

.decor-bottom-block {
  position: absolute;
  transform: skew(39deg) rotate(90deg);
  transform-origin: 28px -19px;
}
/*##################################### Header Section #####################################*/

section {
  position: relative;
  overflow: hidden;
}

.fullscreen__body {
  height: 100vh;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.1) 100%,
      rgba(0, 0, 0, 0.4) 100%
    ),
    url(imgs/HeaderImgs/HeadBackGround.png);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left 20% center, left top;
}

header {
  position: relative;
  z-index: 100;
}

.navbar {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.logo > img {
  width: 170px;
}

.telephone-number {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  transition-duration: 0.5s;
}

.nav-item > a:hover,
.telephone-number:hover {
  color: #f38f31;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-item > a {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.navbar-collapse {
  min-width: 495px;
  flex-grow: 0;
}

.nav-item:last-child {
  display: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggle-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: #fff;
  display: block;
  transition: all 0.2s;
  border-radius: 3px;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*##################################### Header Content #####################################*/
.header-content {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 252px;
  width: 100%;
}

.header-content h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
}

.header-content h2 {
  width: 100%;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}

.get-consult-btn {
  max-width: 280px;
  z-index: 3;
  background: rgba(51, 170, 51, 0);
  width: 260px;
  height: 60px;
  color: white;
  text-decoration: none;
  position: relative;
  padding: 20px;
}
.get-consult-btn p {
  position: relative;
  z-index: 3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;
}
.get-consult-btn span {
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transform: skewX(-20deg) translate(-10px, 8px);
  background-color: #f7931e;
}
.get-consult-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  content: "";
  transform: skewX(-20deg);
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
}
.get-consult-btn:hover span {
  transform: skewX(-20deg) translate(0px, 0px);
}

/*##################################### Header Bottom #####################################*/
.header-bottom {
  position: absolute;
  top: 92%;
  height: 30px;
}

.arrow-bottom {
  position: absolute;
  cursor: pointer;
  left: 50%;
}
.arrow-bottom img {
  display: block;
  transform: translate(0px, 100%);
  transition: all 0.3s ease-in;
  animation: arrow-animation 1s ease 0s infinite alternate forwards;
}

.arrow-bottom img:hover {
  animation-play-state: paused;
}

.header-icons {
  width: 80px;
  max-height: 22px;
  justify-content: space-around;
  align-items: center;
  margin-right: 4%;
}

.header-icon {
  cursor: pointer;
  transition: 0.3s;
}
.header-icon:hover {
  transform: scale(1.2);
}

.vk-icon {
  max-width: 30px;
  max-height: 17px;
}

@keyframes arrow-animation {
  from {
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(0px, 100%);
  }
}
/*##################################### Main Section #####################################*/
.info-section {
  background-color: #0c1417;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  height: 10000px;
}

/*##################################### Life Way Section #####################################*/
.life-way-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  max-height: 472px;
  margin-top: 100px;
  justify-content: center;
  padding: 0 15px;
}

.life-way-sect {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1172px;
  width: 100%;
  height: 100%;
}

.life-way-imgs {
  max-width: 644px;
  width: 100%;
  justify-content: space-between;
}

.life-way-imgs img {
  align-self: flex-start;
  display: block;
  max-height: 432px;
  max-width: 308px;
  width: 100%;
  position: relative;
  z-index: 10;
}

.life-way-imgs img:last-child {
  align-self: flex-end;
}

.life-way-content {
  width: 45%;
  max-width: 451px;
}

.life-way-content h2 {
  margin-top: 72px;
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
}

.life-way-content > p {
  margin-top: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.btn-new-life {
  margin-top: 40px;
  margin-left: 11px;
}

.btn-no-bg > span {
  opacity: 0;
}

.btn-no-bg:hover > span {
  opacity: 1;
}

/*##################################### Advantages Section #####################################*/
.advantages-sect {
  margin-top: 100px;
}

.adv-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  flex-wrap: wrap;
}

.adv-list li {
  display: flex;
  justify-content: space-between;
  width: 25%;
}
.adv-list img {
  display: block;
}
.advantage-text {
  padding-top: 3px;
  width: 72%;
}

.adv-list li:nth-child(1) div {
  max-width: 225px;
}
.adv-list li:nth-child(2) div {
  max-width: 195px;
}
.adv-list li:nth-child(3) div {
  max-width: 232px;
}
.adv-list li:nth-child(4) div {
  max-width: 191px;
}

.adv-list li:nth-child(1) {
  max-width: 319px;
}
.adv-list li:nth-child(2) {
  max-width: 281px;
}
.adv-list li:nth-child(3) {
  max-width: 318px;
}
.adv-list li:nth-child(4) {
  max-width: 276px;
}
/*##################################### Gallery Section #####################################*/
.gallery-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-section > h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  width: 100%;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1325px;
  width: 100%;
  height: auto;
  margin: 80px auto 0 auto;
  position: relative;
}

.gallary-wrapper {
  width: 100%;
  position: relative;
}

.gallary {
  display: flex;
  max-width: 1180px;
  width: 100%;
  height: auto;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.gallary .swiper-wrapper {
  box-sizing: content-box;
}

.photo__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.photo__slide img {
  max-width: 100%;
  width: auto;
  height: auto;
  max-height: 375px;
  user-select: none;
}

.btn-next,
.btn-prev {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 42%;
  z-index: 10;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
  transition-duration: 0.6s;
}

.btn-next:hover,
.btn-prev:hover {
  color: #f7931e;
}

.btn-next {
  right: 0px;
}
.btn-prev {
  left: 0px;
}

.gallary-wrapper-scrollbar {
  margin-top: 30px;
  width: 100%;
  position: relative;
  padding: 0 52px;
  height: 10px;
  padding: 0 10px;
}

.gallary-wrapper-scrollbar .gallary-scrollbar {
  height: 10px !important;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  width: 80%;
}

.gallary-wrapper-scrollbar::before {
  content: "";
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 4px;
  border-radius: 0;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.gallary-scrollbar .swiper-scrollbar-drag {
  background-color: #f7931e;
  height: 100%;
  border-radius: 10px;
  left: 0;
  top: 0;
  z-index: 2;
  position: relative;
}

/*##################################### Media Queries #####################################*/
@media (max-height: 700px) {
  .fullscreen__body .header-content {
    margin-top: 50px;
  }
}

@media (max-width: 1350px) {
  .btn-next {
    right: 5px;
  }
  .btn-prev {
    left: 5px;
  }
}

@media (max-width: 1320px) {
  .adv-list li {
    flex-direction: column;
    align-items: center;
    width: 24%;
    justify-content: normal;
  }
  .advantage-text {
    margin-top: 15px;
    text-align: center;
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .btn-next,
  .btn-prev {
    visibility: hidden;
  }

  .gallary {
    padding: 0 15px;
  }
}

@media (max-width: 1250px) {
  .life-way-imgs img {
    width: 45%;
  }
  .life-way-content {
    margin-left: 50px;
    min-width: 368px;
  }
}

@media (max-width: 950px) {
  .life-way-sect {
    height: 78%;
  }
  .life-way-content h2 {
    margin-top: 50px;
  }
  .life-way-content > p {
    margin-top: 40px;
  }
  .life-way-content > button {
    margin-top: 30px;
    margin-left: 0;
  }
  .life-way-imgs img {
    width: 48%;
  }

  .decor-block__left-orange {
    top: 65%;

    width: 340px;
    max-width: 30vh;
  }
  .decor-block__left-black {
    top: 70%;
    left: 0;
    height: 100px;
  }
  .decor-block__left-line {
    top: 80%;
    left: 0;
    width: 270px;
    max-width: 22vh;
  }

  .navbar-collapse {
    margin: 30px 4%;
    order: 1;
    flex-grow: 1;
    max-width: none;
  }
  .navbar-nav {
    justify-content: space-around;
  }

  .decor-block__top-line {
    left: 50%;
    width: 120px;
    height: 30px;
  }
  .decor-block__top-orange {
    left: 50%;
    width: 160px;
    height: 36px;
  }

  .header-content {
    margin-top: 100px;
  }
}

@media (max-width: 850px) {
  .life-way-wrapper {
    max-height: none;
    height: auto;
  }
  .life-way-content {
    margin-left: 0;
    width: 100%;
    max-width: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .life-way-content h2 {
    margin-top: 0;
    text-align: center;
  }
  .life-way-content > p {
    text-align: center;
  }
  .life-way-imgs {
    margin-top: 60px;
    order: 1;
    max-width: none;
  }
  .life-way-sect {
    height: 100%;
    justify-content: normal;
    flex-direction: column;
  }
  .life-way-imgs img {
    max-width: 353px;
    max-height: 496px;
  }

  .adv-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .adv-list li {
    width: 100%;
    max-width: none !important;
  }
  .advantage-text {
    width: 100%;
  }
  .adv-list li:nth-child(3),
  .adv-list li:nth-child(4) {
    margin-top: 70px;
  }

  .wrapper {
    margin-top: 60px;
  }
  .photo__slide img {
    width: 100%;
    max-height: 430px;
    max-width: 308px;
  }
  .gallary-wrapper-scrollbar {
    width: 80%;
  }
}

@media (max-width: 805px) {
  .header-content h1 {
    font-size: 58px;
    line-height: 68px;
  }
}

@media (max-width: 715px) {
  .header-content {
    height: 300px;
  }
}

@media (max-width: 690px) {
  .logo img {
    width: auto;
  }

  .navbar-collapse {
    margin: 30px 0px;
  }
  .navbar-nav {
    justify-content: space-between;
  }

  .life-way-imgs {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .header-content {
    margin-top: 136px;
  }

  .decor-block__top-orange,
  .decor-block__top-line {
    left: 40%;
  }
  .decor-block__left-orange {
    top: 80%;
    height: 35px;
    width: 340px;
    max-width: 19vh;
  }
  .decor-block__left-black {
    top: 85%;
    left: 0;
    height: 80px;
  }
  .decor-block__left-line {
    top: 91%;
    left: 0;
    width: 260px;
    height: 35px;
    max-width: 13vh;
  }

  header:has(.navbar-toggler[aria-expanded="true"]) {
    background: -webkit-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.85) 0%,
      rgba(0, 0, 0, 0.8075) 100%
    );
    backdrop-filter: blur(5px);
  }

  .navbar-collapse {
    min-width: 0;
    flex-grow: 0;
    margin: 0;
  }

  .telephone-number {
    display: none !important;
  }

  .navbar-nav {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .nav-item:last-child {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-content h1 {
    font-size: 48px;
    line-height: 68px;
  }
  .header-content h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .get-consult-btn {
    width: 220px;
    padding: 10px 10px;
  }

  .life-way-wrapper {
    margin-top: 72px;
  }
  .life-way-content {
    min-width: 0;
  }
  .life-way-content h2 {
    font-size: 25px;
    line-height: 34px;
  }
  .life-way-content > p {
    font-size: 16px;
    line-height: 26px;
  }

  .advantage-text {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .life-way-imgs {
    flex-direction: column;
  }
  .life-way-imgs img {
    align-self: normal !important;
    max-width: none;
    max-height: none;
    width: 100%;
  }
  .life-way-imgs img:last-child {
    margin-top: 30px;
  }

  .advantage-text {
    width: 100%;
  }
  .adv-list {
    grid-template-columns: 1fr;
  }
  .adv-list li {
    margin-top: 70px;
  }

  .gallery-section > h3 {
    font-size: 25px;
  }
  .photo__slide img {
    max-width: 246px;
    max-height: 329.37px;
  }
  .gallary-wrapper-scrollbar {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .navbar {
    padding: 30px 10px 10px 10px;
  }
  .nav-item > a {
    font-size: 13px;
  }

  .header-content {
    height: 340px;
  }

  .decor-block__top-orange,
  .decor-block__top-line {
    display: none;
  }
}
